[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rasa-nlu = {extras = ["spacy"],version = "*"}
rasa-core = "==0.13.7"
rasa = {extras = ["spacy"],version = "*"}
ipython3 = "*"

[requires]
python_version = "3.6"
